.rbc-calendar {
  font-family: 'Inter', sans-serif;
}

.rbc-event {
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

.rbc-event-content {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
}
